.fa-pencil{
    color:#FF7B02;
}

.pencil-wrapper{
    position: relative;
    top:75px;
    right:10px;
    float:right;
}

.form-group{
    margin-top:10px;
    margin-bottom:10px;
}

.form-check-label{
    font-family: Poppins !important;
}

.card-button{
    min-width:100px;
}