.online{
    background-color: rgb(0, 172, 0);
}

.user-image {
    width: 50px; 
    height: 50px;

    
}

.small{
        
    width: 30px !important; 
    height: 30px !important; 
    }


.smallDot{
    
    margin-left: 20px !important; 
    margin-top: 21px !important; 
}