<div *ngFor="let offer of offers">
  <div   class="mb-3">
    <app-display-user-summary
    
      [userId]="offer.offererId"
    ></app-display-user-summary>
  </div>
  <div
    style="float: right; margin-top: -76px; font-size: 11px;"
    class="faded-text"
  >
    {{ offer.howLongAgo }}
  </div>
  <button
    type="button"
    class="btn btn-primary"
    style="float: right; padding: 1px 7px; font-size: 13px; margin-top: -48px;"
    (click)="acceptOffer(offer.id)"
  >
    Start 1:1 Session
  </button>
</div>
