<div *ngFor="let offer of offers">
  <div
    class="semi-bold-font"
    style="font-size: 18px; float: right; margin-top: 7px; color: red; cursor: pointer;"
    *ngIf='offer.offererId==currentUserId'
    (click)="deleteOffer(offer.id)"
  >
    X
  </div>

  <div   class="mb-3">
    <app-display-user-summary
    
      [userId]="offer.offererId"
    ></app-display-user-summary>
  </div>
  <div
    style="float: right; margin-top: -76px; font-size: 11px;"
    class="faded-text"
  >
    {{ offer.howLongAgo }}
  </div>
  <button
    *ngIf='isCurrentUserQuestionOwner'
    type="button"
    class="btn btn-primary"
    style="float: right; padding: 1px 7px; font-size: 13px; margin-top: -48px;"
    (click)="acceptOffer(offer.id)"
  >
    Start 1:1 Session
  </button>
</div>
