<div *ngFor="let offer of offers">
  <div
    class="semi-bold-font"
    style="font-size: 18px; float: right; margin-top: 7px; color: red; cursor: pointer;"
    *ngIf='offer.offererId==currentUserId'
    (click)="deleteOffer(offer.id)"
  >
    X
  </div>

  <div   class="mb-3" style="display: inline-flex;">
    <app-display-user-summary
    style='display: inline-flex;'
      [userId]="offer.offererId"
      [showRating]='true'
      [widthInPx]=100
    ></app-display-user-summary>
  </div>
  <div style="float: right; text-align: right;">
  <div
    style="font-size: 11px;"
    class="faded-text"
  >
    {{offer.howLongAgo}}
  </div>
  <button
    *ngIf='isCurrentUserQuestionOwner'
    [ngClass]="{'disabled': !offer.isUserOnline}"
    type="button"
    class="btn btn-primary"
    style="padding: 1px 7px; font-size: 13px;"
    (click)="acceptOffer(offer.id)"
  >
    Start 1:1 Session
  </button>
</div>
</div>
