

<div *ngIf="member">

    <i class="fa fa-pencil" (click)="edit()"></i>
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}"
                class="card-img-top img-thumbnail" style="width: 100px; height: 100px;" class="rounded-circle">

            <div class="card-body">
                <div>
                    <strong>Username</strong>
                    <p>{{member.username}}</p>
                </div>
                <div>
                    <strong>Email</strong>
                    <p>{{member.email}}</p>
                </div>
                <div>
                    <strong>Title</strong>
                    <p>{{member.title}}</p>
                </div>
                <div>
                    <strong>About Me</strong>
                    <p>{{member.aboutMe}}</p>
                </div>

                <label>
                    <strong>Email Prefrences</strong>
                </label>


                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name='questionAskedOnMyTags' [(ngModel)]='member.questionAskedOnMyTags' disabled>
                    <label class="form-check-label" for="flexCheckChecked">
                        A question is asked according to my tags
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox"name='onlyNotifyOnCommunityQuestionAsked' [(ngModel)]='member.onlyNotifyOnCommunityQuestionAsked' disabled>
                    <label class="form-check-label" for="flexCheckChecked">
                        Only notify me when a question is asked in a community I'm a member of
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name='myQuestionReceivedNewOffer' [(ngModel)]='member.myQuestionReceivedNewOffer' disabled>
                    <label class="form-check-label" for="flexCheckChecked">
                        A question I asked gets a new offer
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name='myQuestionReceivedNewComment' [(ngModel)]='member.myQuestionReceivedNewComment' disabled>
                    <label class="form-check-label" for="flexCheckChecked">
                        A question I asked gets a new comment
                    </label>
                  </div>
              

            </div>

            <div>
                <strong>Tags</strong>
                <tag-input [ngModel]="" [theme]="'bootstrap'">
                    <tag-input-dropdown [autocompleteItems]="allTags">
                    </tag-input-dropdown>
                </tag-input>
            </div>

        </div>
    </div>
</div>