<div class="mt-4" style="margin-top: 300px;">

    <button class="btn btn-success" style="margin:60px;" (click)="startZoom()">Start Zoom Session</button>
<div class="mt-4"></div>









    <rating-basic></rating-basic>








<div>Push Notifications</div>
https://blog.angular-university.io/angular-push-notifications/







    


    <div class="centered">
        <input type="text" name="ask" id="ask" [placeholder]="placeholder">
    </div>
</div>



<button type="button"  *ngIf="user ==null" (click)="signIn()">Sign in</button>
<button type="button" *ngIf="user !=null" (click)="signOut()">Sign out</button>



<div *ngIf="user !=null">
    You are signed in as {{user.getBasicProfile().getName()}}
</div>

<div>integrate FB login</div>
<div>integrate Google login</div>
https://www.bacancytechnology.com/blog/google-social-login-with-angular-11/

<div>Pop up</div>
<div>Loader</div>





<div class="Stars" style="--rating: 4.5;" aria-label="Rating of this product is 2.3 out of 5."></div>