
.add-text{
    opacity: 0;
    transition: all .2s ease-in-out;
}


.show-text .add-text{
    opacity: 1;
    transition: all .2s ease-in-out;
 
}

.show-text  .add-container{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.display-add-teaser .add-teaser-container{
    display: none !important;
}

.hide-add-teaser .add-teaser-container{
    display: block !important;
}

.display-add-content{
    display: none !important;
}




.num-of-chars-left{    
    color: #8d8d8d;
    font-size: 12px;
}

.card-button{
    min-width:100px;
}