.fa-pencil {
  color: #ff7b02;
}

.pencil-wrapper {
  position: relative;
  top: 75px;
  right: 10px;
  float: right;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 24px;
  position: relative;
  margin: 0;
  padding: 0;
  .fill-ratings {
    color: #ECBE24;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;

    // Allows us to grab the width of the span elements
    span {
      display: inline-block;
    }
  }
  .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
  }
}


#meeting-topics label:not(:first-child){
  margin-left: 15px;
}


#meeting-title label{
margin-top: 15px;
font-size: 14px;
}

tr td:hover{
  background-color: lightblue !important;
  cursor:pointer;
}

tr td,th{
  text-align: right;
  width: 110px;
}