.community-card{
    border-radius:25px; 
    max-width:400px;
}

.small-button{
    min-width: 70px !important; 
    font-size:14px;
}

.close-x-button{
    font-size:26px;
    background-color: white;
    border:none;
}

.button-close{
    min-width: 200px;
}

.card-button{
    min-width:100px;
}