<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav-content"
      aria-controls="nav-content"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-content">
          <div
        class="logo-font"
        style="
          height: 30px;
          background-color: #ffe8d4;
          font-size: 21px;
          color: #ff7b02;
          cursor: pointer;
          margin-bottom: 2px;
          padding-left: 5px;
        "
         [routerLink]="['/questions']"
      >
        V
      </div>
      <div
        style="
          height: 30px;
          padding-right: 5px;
          background-color: #ffe8d4;
          padding-top: 4px;
          min-width: 76px;
          margin-bottom: 2px;
          cursor: pointer;
        "
        [routerLink]="['/questions']"
      >
        id Call Me
      
    </div>

      <div class="navbar-nav me-auto mb-2 mb-md-0"  style="width: 100%;">
        <div class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/questions"
            routerLinkActive="active"
          >
            All Questions
          </a>
        </div>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/communities"
            routerLinkActive="active"
          >
            Communities
          </a>
        </li> -->

        <div class="nav-item" *ngIf="(user && accountService.currentUser$ | async)">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/my-questions"
            routerLinkActive="active"
          >
            My Questions
          </a>
        </div>

        <div class="nav-item" *ngIf="(user && accountService.currentUser$ | async)">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/question/edit-question"
            routerLinkActive="active"
          >
            Ask
          </a>
        </div>

         <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/poc">POCs</a>
        </li>  -->

        <div style="text-align: right;margin-left: auto;" class="nav-item" *ngIf="!(accountService.currentUser$ | async)">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/register"
            routerLinkActive="active"
          >
            Register/Sign In
          </a>
        </div>
      </div>
      <div
        class="dropdown" style='min-width: 150px;'
        *ngIf="accountService.currentUser$ | async"
        dropdown
      >
        <div style="display: inline-block;">
          <app-display-user-image
            [isSmall]="true"
            [username]="user.username"
            [photoUrl]="user.photoUrl"
            [userId]="user.id"
          ></app-display-user-image>
        </div>

        <div style="display: inline-block; 
        vertical-align: bottom;
        line-height: 30px;  ">
        <a
          class="dropdown-toggle text-light"
          style="margin-left: 5px;"
          dropdownToggle
        >
          {{ user.username }}
        </a>
      </div>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" routerLink="/users/{{ user.username }}">
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <!-- <form
        *ngIf="(accountService.currentUser$ | async) === null"
        #loginForm="ngForm"
        class="d-flex"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="user.username"
          class="form-control me-2"
          type="text"
          placeholder="Username"
          aria-label="Username"
        />
        <input
          class="form-control me-2"
          name="password"
          [(ngModel)]="user.password"
          type="password"
          placeholder="Password"
          aria-label="Password"
        />
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>  -->
    </div>
  </div>
</nav>
