.has-content {
  color: blue;
}

.has-no-content {
  opacity: 0.5;
}

.is-online {
  color: rgb(1, 189, 42);
}

.short-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 255, 250, 1) 64%,
    rgba(191, 255, 217, 0.41780462184873945) 100%
  );
}

.medium-bg {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 239, 190, 0.10968137254901966) 64%,
    rgba(255, 226, 138, 0.21052170868347342) 100%
  );
}

.long-bg {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 219, 190, 0.10968137254901966) 64%,
    rgba(255, 138, 138, 0.21052170868347342) 100%
  );
}

.bottom-tag {
  margin-left: 8px;
  font-size: 12px;
}

.question-container:hover {
  border: 1px solid purple;
  cursor: pointer;
}

.question-header {
  height: 24px;
  overflow: hidden;
}

.question-body{  
  max-height: 75px;
  overflow: hidden;
}

.question-not-active{
  opacity: 0.6;

  > .waiting-for{
    display: none;
  }
}

.header-line{
  margin-bottom:15px;
  font-family: 'Poppins';
}

.header-img{
  height:30px;
  margin-right:15px;
}

.waiting-for-too-long{
  color:red !important;
}

.short-bg .waiting-for{
  color: green;
}

.long-bg .waiting-for{
  color: red;
}


.page-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;}


.how-it-works {  
  font-family: sans-serif;
  text-decoration: none;
}