<div class="mt-5">
  <div *ngIf="!isFromMyQuestionsRoute" class="container-fluid">


    <div class="row" style="padding-top: 20px;">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h1 *ngIf="isJavascriptPage" class='page-title' style='font-family: monospace;'>The Javascript Live Helpers Community</h1>
        <h1 *ngIf="isSoftwareCraftsmanshipPage" class='page-title' style='font-family: monospace;'>The Software Craftsmanship Live Helpers Community</h1>
      </div>
      <div class="col-lg-1"></div>

      <div class="col-lg-1"></div>
      <div class="col-lg-5" style="align-items: center; display: flex;">
        <div>
          <div
            style="font-size: 18px; margin-bottom: 16px;"
            class="semi-bold-font"
          >
            <div class="header-line">
              <img src="./assets/ask.png" class="header-img" />
              Ask For Help in Programming
            </div>
            <div class="header-line">
              <img src="./assets/link.png" class="header-img" />
              Get a discord link
            </div>
            <div class="header-line">
              <img src="./assets/discord.png" class="header-img" />
              Get Your Answer in a Discord Chat
            </div>

            <!-- <div
              style="
                font-size: 17px;
                color: rgb(102, 102, 102);
                font-family: 'Poppins';
              "
            >
              <a href="./assets/how-it-works.gif" target="_blank" class='how-it-works'>How it works (gif)</a>
            </div> -->
          </div>
          <button
            style="
              padding: 0 15px;
              background-color: #ff7b02;
              color: white;
              border: 0px;
              border-radius: 25px;
              min-width: 170px;
              height: 40px;
            "
            class="semi-bold-font"
            [routerLink]="'/question/edit-question'"
          >        
            Find Helpers
          </button>
        </div>
      </div>
      <div class="col-lg-1"></div>

      <div class="col-lg-4 d-none d-lg-block">
        <img
          [src]="isJavascriptPage? './assets/js.jpg': isSoftwareCraftsmanshipPage? './assets/airplane.jpg' : './assets/cover.jpg' "
          alt="cover"
          class="img-fluid"
          style="margin-right: 10px; margin-bottom: 5px; border-radius: 20px;"
        />
      </div>
      <div class="col-lg-1"></div>
    </div>

    <app-events></app-events>
  </div>
</div>

<div class="container mt-5">
  <div *ngIf="isFromMyQuestionsRoute" style="margin-top: 85px;"></div>
  <div class="row">
    <div class="col-lg-1 col-xl-2"></div>
    <div class="col-xs-12 col-md-12 col-lg-10 col-xl-8">
      <div class="text-center">
        <h3 *ngIf="!isFromMyQuestionsRoute" class="semi-bold-font mb-4">
          Live Help Requests
        </h3>
        <h3 *ngIf="isFromMyQuestionsRoute" class="semi-bold-font mb-4">
          My Questions
        </h3>
      </div>
     
      <div
        *ngFor="let question of questions"
        style="background-color: white; border-radius: 10px;"
        class="my-2 p-2 question-container"
       
        [class.question-not-active]="
          (!question.isActive || question.isSolved)
        "
        (click)="router.navigateByUrl('/display-question/' + question.id)"
      >

        <div class="first-question-row d-flex justify-content-between">
          <div class="user semi-bold-font">
            <app-display-user-image
              [isSmall]="true"
              [username]="question.askerUsername"
              [photoUrl]="question.askerPhotoUrl"
              [userId]="question.askerId"
            ></app-display-user-image>

            <span style="font-size: 14px; margin-left: 10px;">
              {{ question.askerUsername }}
            </span>
          </div>

          <div class="d-flex justify-content-end">
            <div *ngIf="question.hasCommonTags">
              <img
                src="./assets/tag.png"
                alt="Common Tags"
                title="You have common tags with this question"
                class="card-img-top mr-3"
                style="width: 15px; height: 15px; margin-right: 10px;"
              />
            </div>
            <!-- <div *ngIf="question.hasCommonCommunities">
              <img
                src="./assets/community.png"
                alt="You have common communities with this question"
                title="You have common communities with this question"
                class="card-img-top mr-3"
                style="width: 20px; height: 20px; margin-right: 10px;"
              />
            </div> -->

            <div
              class="top-right-details faded-text"
              style="font-size: 10px; margin-top: 5px;"
            >
              {{ question.howLongAgo }}
            </div>
          </div>
        </div>
        <div
          *ngIf="question.isUserOnline"
          style="float: right;"
          class="semi-bold-font waiting-for mt-3"
        >
          <!-- <div>
            <div
              style="float: right; font-size: 20px;"
              title="Waiting online for.."
            >
              {{ question.onlineAgeString }}
            </div>
            <img
              title="Waiting online for.."
              src="./assets/timer.png"
              style="height: 28px; margin-right: 3px; float: right;"
            />
          </div> -->
          <!-- <div style='
          color: black;
          font-size: 11px;
          font-family: poppins;
          margin-left: 5px;'>Waiting Online</div> -->
        </div>

        <div>
          <div class="d-flex flex-row">
            <div
              style="
                margin-top: 17px;
                height: 5px;
                width: 5px;
                background-color: #ff7b02;
                margin-right: 5px;
              "
              class="rounded-circle"
            ></div>
            <div class="bold-font question-header my-2">
              {{ question.header }}
            </div>
          </div>
          <div
            class="faded-text question-body"
            style="margin-left: 10px; margin-bottom: 5px;"
          >
            {{ question.body }}
          </div>

          <div class="d-flex" style="margin-left: 10px;">
            <!-- <div
              style="
                border-radius: 11px;
                font-size: 12px;
                display: inline-block;
                padding: 2px 5px 0 5px;
                min-width: 64px;
                height: 23px;
              "
              [ngClass]="{
                'short-tag': question.length == 1,
                'medium-tag': question.length == 2,
                'long-tag': question.length == 3
              }"
            >
              {{ question.lengthAsString }}
            </div> -->
            <div
              class="bottom-tag"
              style="width: 15px;"
              *ngIf="question.isPayed"
            >
              <img
                src="./assets/dollar.png"
                alt="Asker is willing to pay for a solution"
                title="Asker is willing to pay for a solution"
                class="rounded-circle card-img-top mr-3"
                style="width: 15px; height: 15px; margin-right: 10px;"
              />
            </div>
            <!-- <div
              class="bottom-tag"
              style="padding-top: 2px; min-width: 25px;"
              [class.has-no-content]="question.numOfComments == 0"
            >
              <img
                style="width: 14px; margin-top: -1px;"
                src="./assets/comments.png"
              />
              {{ question.numOfComments }}
            </div>
            <div
              class="bottom-tag"
              style="padding-top: 2px; min-width: 25px;"
              [class.has-no-content]="question.numOfOffers == 0"
            >
              <img
                style="width: 14px; margin-top: -1px;"
                src="./assets/support.png"
              />
              {{ question.numOfOffers }}
            </div> -->

            <!-- <div
            *ngIf="question.communities.length > 0"
            class="bottom-tag d-flex"
          >
            <div class="d-flex">
              <img
                style="
                  height: 14px;
                  width: 14px;
                  margin-top: 3px;
                  margin-right: 2px;
                "
                src="./assets/community-not-common.png"
              />
              <div
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  height: 20px;
                  overflow: e;
                  max-width: 150px;
                  margin-top: 2px;
                "
              >
                {{ question.communities[0].display }}
              </div>
              <div *ngIf="question.communities.length > 1">
                ..
              </div>
            </div>
          </div> -->

            <div class="d-flex" style="flex-wrap: wrap;">
              <div
                *ngFor="let tag of question.tags | slice: 0:5"
                class="tag-display bottom-tag"
                style="padding: 3px 5px 0 5px; font-size: 12px;"
              >
                {{ tag.display }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-xl-2"></div>

    <div class="col-xl-2 col-md-3"></div>
  </div>
</div>
