<div>
    <i class="fa-regular fa-messages"></i>
    <button routerLink='/ask-question'>Ask a question</button>
    <div *ngFor="let question of questions">
        <div class="mt-3 bg-light" routerLink='/ask-question/{{question.id}}'>
            <p class="fw-bold">
                {{question.header}}
            </p>
            <div>
                {{question.body}}
            </div>
            <div routerLink='/members/{{question.askerUsername}}'>
                {{question.askerUsername}}
            </div>

            <span [ngClass]="question.numOfComments>0? 'has-content': 'has-no-content'">
            <i class="fa fa-comments" title="Comments"></i>
            {{question.numOfComments}}
            </span>
            <span [ngClass]="question.numOfOffers>0? 'has-content': 'has-no-content'">
                <i class="fa fa-envelope" title="Offers"></i>
                {{question.numOfOffers}}
            </span>
        </div>
    </div>
</div>