<div *ngFor="let comment of comments">
    <div>{{comment.id}}</div>
    <div>{{comment.text}}</div>
</div>

<div>
    <button *ngIf="shouldDisplayCommentButton" type="button" (click)="displayAddForm()">Comment</button>
</div>

<form *ngIf="shouldDisplayAddForm" #commentForm="ngForm" (ngSubmit)="postCmment()"
    autocomplete="off">
    <textarea name="text" [(ngModel)]="model.text">

    </textarea>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" (click)="post()">Post Comment</button>
        <button class="btn btn-default mr-2" (click)="cancel()">Cancel</button>
    </div>
</form>